# 🔌 `{{component}}` component

> {{synopsis}}

## See also

- [`{{component}}` stories](/npm-mintlab-ui/storybook/?selectedKind={{category}}/{{component}})
- [`{{component}}` API reference](/npm-mintlab-ui/documentation/consumer/identifiers.html#{{fragment}})
