/* This file is part of Zaaksysteem, which is released under the EUPL.
 See file LICENSE for full license details.
*/
.wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  font-family: 'Arial';
}

.column-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.color {
  position: relative;
  width: 100px;
  height: 90px;
}

.name {
  background-color: white;
  color: black;
  height: 40px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.label {
  position: absolute;
  bottom: 4px;
  right: 4px;
  text-shadow: 1px 1px 3px #000000;
  font-size: 13px;
  text-align: right;
  word-spacing: 100px;
  color: white;
}

.shadow {
  width: 100px;
  height: 100px;
  margin: 20px;
  border-radius: 8px;
  position: relative;
  color: white;
}
